*{background-image: url(https://a-static.besthdwallpaper.com/old-camera-wallpaper-1920x1080-23862_48.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
